.guestbook-image {
    flex: 0 0 8rem;
    height: 8rem;
    background-size: cover;
  
    display: flex;
    align-items: center;
    justify-content: center;
  }


  
  .guestbook-image > img {
    height: 100%;
  }

.fonta{
  font-size: 1rem;

}


